src/main/mule/implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="fab67102-06e1-4093-87ed-8d9e6e817e97" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<db:config name="Database_Config" doc:name="Database Config" doc:id="f656fd20-44f5-418d-9995-cc9e34391276" >
		<db:my-sql-connection host="mudb.learn.mulesoft.com" port="3306" user="mule" password="mule" database="training" />
	</db:config>
	<flow name="getflights" doc:id="c57511cb-a959-411c-9929-11792b576103" tracking:enable-default-events="true">
		<db:select doc:name="Select" doc:id="111505d2-1a05-4f4d-a467-6703ce5be1bd" config-ref="Database_Config">
			<db:sql ><![CDATA[SELECT * FROM american]]></db:sql>
		</db:select>
		<ee:transform doc:name="Java to JSON" doc:id="82eca7ef-bdc5-4383-93d1-b083f2eee943" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: (payload01.code1 default "") ++ (payload01.code2 default ""),
	price: payload01.price default 0,
	departureDate: payload01.takeOffDate as String default "",
	origin: payload01.fromAirport default "",
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		"type": payload01.planeType default "",
		totalSeats: payload01.totalSeats default 0
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="getflightsbyID" doc:id="601ee5f4-17c9-4327-ad99-8e936125c36f" >
		<db:select doc:name="select flights by id" doc:id="7f23c101-4684-4a6f-9ad1-df164c4ee964" config-ref="Database_Config" >
			<db:sql ><![CDATA[SELECT * FROM american WHERE ID = :id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	'id' : attributes.uriParams.ID
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Java to JSON" doc:id="3547c318-7087-4182-9dbe-a026d59a8961" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	ID: payload01.ID,
	code: payload01.code2 default "",
	price: (payload01.price default 0) + (payload01.price default 0),
	departureDate: (payload01.takeOffDate as String default "") ++ (payload01.takeOffDate as String default ""),
	origin: (payload01.planeType default "") ++ (payload01.fromAirport default ""),
	destination: payload01.toAirport default "",
	emptySeats: payload01.seatsAvailable default 0,
	plane: {
		totalSeats: (payload01.totalSeats default 0) + (payload01.totalSeats default 0)
	}
}
]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="postflights" doc:id="7eba3d26-3339-408d-872e-d3f4f67e4afc" >
		<set-payload value="flights added but not really" doc:name="Set Payload" doc:id="8f8217c0-7ebe-47e5-a6c8-efac69f48166" />
	</flow>
</mule>
